.comments-section {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 5px;
}

.comment-item:last-child {
    border-bottom: none;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
}

.btn-close:hover {
    color: darkred;
}

.like-button {
    background: transparent;
    border: none;
    color: gray; /* Default warna ikon */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Gaya ikon love saat belum di-like */
.like-button .fa-heart {
    transition: color 0.3s ease;
}

/* Gaya tombol saat di-like */
.like-button.liked .fa-heart {
    color: red; /* Ubah warna ikon love menjadi merah saat di-like */
}



